#wrapper{
    min-width: 600px;
    max-width: 700px;
    width: 80%;
    margin: auto;
}
#video{
    width: 100%;
}
.center{
    text-align: center;
}
.gray_bg{
    background-color: lightgray;
}
.control_table{
    width: 100%;
}
input{
    width: 50px;
}
table{
    border: 2px azure solid;
}
body{
    background: azure;
}
.spacer{
    border-bottom: 2px solid azure;
    height: 0px;
}
#select-camera{
    width: 100%;
}
.emphasis{
    background-color: rgb(96, 220, 236);
}
.conducting{
    animation: flash_blue 1.5s linear infinite;
}

@keyframes flash_blue {
	0%,
	100% {
		background-color: rgb(96, 236, 166);
	}

	50% {
		background-color: lightgray;
	}
}

.recording{
    animation: flash_red 0.8s linear infinite;
}

@keyframes flash_red {
	0%,
	100% {
		background-color: rgb(207, 118, 118);
	}

	50% {
		background-color: lightgray;
	}
}